div {
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

img {
    height: 50px;
    margin-right: 10px;
}

a {
    color: white;
    text-decoration: none;         
}

h1 {
    font-size: 20px;
    flex: 1;
    text-align: center;
}

ul {
    /* margin: 20px; */
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex: 3;
    font-size: 12px;
}